@page "/Machines/Create"

@attribute [Authorize("Machine_Create")]
@inject IBuildingMachineService machineService;
@inject BladderDbContext dbContext;
@inject NavigationManager navigationManager;
@inject IUiNotificationService uiNotificationService


@inherits BladderComponentBase


<div class="card">
    <div class="card-header">
        <h3>@L["Create New Machine"]</h3>
    </div>
    <div class="card-body">
        <RadzenTemplateForm TItem="BuildingMachine" Data=@Machine Submit=@CreateMachine >
            <DataAnnotationsValidator />

            <RadzenRow>
                <RadzenColumn>
                    <div class="form-group">
                        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@L["Machine Code"]</RadzenText>
                        <RadzenTextBox @bind-Value=Machine.Code class="w-100" Name="Machine.code" />
                        <RadzenRequiredValidator Component="Machine.code" Text="@L["this field is required"]"   />
                        <RadzenCustomValidator Component="Machine.code" Validator="@(() => ValidateUniqueMachine())" Text="@L["Machine Code Must Be Unique"]" />


                        
                    </div>
                </RadzenColumn>
                
            </RadzenRow>
            <div class="d-flex flex-row justify-content-md-center">
                <div class="form-group mx-1">
                    <button type="submit" class="btn btn-primary">@L["Create"]</button>
                </div>
                <div class="form-group mx-1">
                    <a href="/Machines/Index" class="btn btn-secondary">@L["Cancel"]</a>
                </div>
            </div>

        </RadzenTemplateForm>
    </div>
</div>

@code {
    public BuildingMachine Machine { get; set; } = new() ;

    public bool ValidateUniqueMachine()
    {
        var existingMachine = dbContext.Set<BuildingMachine>()
                        .FirstOrDefault(b => b.Id != Machine.Id && b.Code == Machine.Code);

        if (existingMachine != null)
        {
            return false;
        }
        return true;
    }

    public async Task CreateMachine()
    {
        
        await machineService.CreateAsync(Machine);
        navigationManager.NavigateTo("/Machines/Index", true);
    }
    

}
