@inherits BladderComponentBase
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" @onclick="ToggleDropdown">
        @L["Create New Transaction"]
    </button>
    <div class="dropdown-menu" style="display: @(showDropdown ? "block" : "none")">
        <AuthorizeView Policy="Transaction_MountCreate">
            <NavLink class="dropdown-item" href="/Transactions/CreateMountTransaction">@L["Mount Transaction"]</NavLink>
        </AuthorizeView>        
        <AuthorizeView Policy="Transaction_DismountCreate">
            <NavLink class="dropdown-item" href="/Transactions/CreateDismountTransaction">@L["Dismount Transaction"]</NavLink>
        </AuthorizeView>        
        <AuthorizeView Policy="Transaction_MaintenanceCreate">
            <NavLink class="dropdown-item" href="/Transactions/CreateMaintenanceTransaction">@L["Maintenance Transaction"]</NavLink>
        </AuthorizeView>        
        <AuthorizeView Policy="Transaction_TestCreate">
            <NavLink class="dropdown-item" href="/Transactions/CreateTestTransaction">@L["Test Transaction"]</NavLink>
        </AuthorizeView>        <!-- Add more NavLink items for other transaction types -->
    </div>
</div>

@code {
    private bool showDropdown = false;

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }
}