@page "/Transactions/CreateTestTransaction/{TransactionId:int?}"
@{
    var breadcrumbItems = new List<Volo.Abp.BlazoriseUI.BreadcrumbItem>() {
        new Volo.Abp.BlazoriseUI.BreadcrumbItem(@L["Bladder Transactions"]),
        new Volo.Abp.BlazoriseUI.BreadcrumbItem(L["Create Test Transaction"]),

    };
}
<Volo.Abp.AspNetCore.Components.Web.Theming.Layout.PageHeader BreadcrumbItems="@breadcrumbItems">
</Volo.Abp.AspNetCore.Components.Web.Theming.Layout.PageHeader>
<abp-breadcrumb>
    <abp-breadcrumb-item href="#" title="Home" />
    <abp-breadcrumb-item href="#" title="Library"/>
    <abp-breadcrumb-item title="Page"/>
</abp-breadcrumb>

@inject IBuildingBladderService bladderService
@inject IBladderTransactionService transactionService
@inject IUiNotificationService uiNotificationService
@inject NavigationManager navigationManager
@inject BladderDbContext context

@inherits BladderComponentBase

<div class="card shadow-sm">
    <div class="card-header">
        <h3>@L["Create Test Transaction"]</h3>
    </div>
    <div class="card-body">
        <RadzenTemplateForm TItem="TestTransaction" Data=@TestTransaction  Submit="CreateTransaction">
            <DataAnnotationsValidator />

            <RadzenRow>
                <RadzenColumn>
                    <div class="form-group">
                        <label class="form-label">@L["Bladder Code"]</label>
                        <RadzenTextBox Disabled=@isDisabled @bind-Value=@ScannedBladderCode class="w-100" Name="ScannedBladderCode" />
                        <RadzenRequiredValidator Component="ScannedBladderCode" Text="@L["this field is required"]" />
                        <RadzenCustomValidator Component="ScannedBladderCode" Validator="OnBladderCodeChange" Text="@L["Scanned Bladder Dose Not Exist"]" Popup=false />
                    </div>
                </RadzenColumn>
            </RadzenRow>

            <div class="d-flex flex-row justify-content-md-center">
                <div class="form-group mx-1">
                    @if (!isDisabled)
                    {
                        <button type="submit" class="btn btn-primary">@L["Create Transaction"]</button>
                    }
                </div>
                <div class="form-group mx-1">
                    <a href="/Transactions/Index" class="btn btn-secondary">@L["Cancel"]</a>
                </div>
            </div>
        </RadzenTemplateForm>
    </div>
</div>

@code {
    [Parameter] public int TransactionId { get; set; }
    public TestTransaction TestTransaction { get; set; } = new();
    public List<BuildingBladder> Bladders { get; set; } = new List<BuildingBladder>();
    public List<BuildingBladder> AllBladders { get; set; } = new List<BuildingBladder>();
    bool isDisabled;

    protected override async Task OnInitializedAsync()
    {
        if (TransactionId != 0)
        {
            TestTransaction = await context.Set<TestTransaction>()
            .Include(mt => mt.Bladder)
            .FirstOrDefaultAsync(tt => tt.Id == TransactionId);
            isDisabled = true;
            AllBladders = await bladderService.GetAllAsync();
        }
        if (isDisabled)
        {
            ScannedBladderCode = TestTransaction.Bladder.BladderCode;

        }

        Bladders = await bladderService.GetAllTestableAsync();
    }

    public string? ScannedBladderCode { get; set; }
    public bool OnBladderCodeChange()
    {
        if (ScannedBladderCode is not null)
        {
            if (Bladders.Select(b => b.BladderCode).Contains(ScannedBladderCode))
            {
                TestTransaction.BladderId = Bladders.FirstOrDefault(b => b.BladderCode == ScannedBladderCode).Id;
            }
            return Bladders.Select(b => b.BladderCode).Contains(ScannedBladderCode);
        }
        else
        {
            return true;
        }

    }

    private async Task CreateTransaction()
    {
        TestTransaction.CreatedAt = DateTime.Now;
        TestTransaction.TransactionType = TransactionTypes.Test.ToString();
        await transactionService.CreateAsync(TestTransaction);
        TestTransaction.Bladder = await context.Bladders.FirstOrDefaultAsync(b => b.Id == TestTransaction.BladderId);
        if (TestTransaction.Bladder is not null)
        {
            TestTransaction.Bladder.Status = BladderStatus.Ready.ToString();
            await bladderService.UpdateAsync(TestTransaction.Bladder);
        }

        
        
        navigationManager.NavigateTo("/Transactions/Index", true);
    }
}