@page "/Transactions/Index"
@using Volo.Abp.Authorization;
@{
    var breadcrumbItems = new List<Volo.Abp.BlazoriseUI.BreadcrumbItem>() {
        new Volo.Abp.BlazoriseUI.BreadcrumbItem(@L["Bladder Transactions"]),

    };
}
<Volo.Abp.AspNetCore.Components.Web.Theming.Layout.PageHeader BreadcrumbItems="@breadcrumbItems">
</Volo.Abp.AspNetCore.Components.Web.Theming.Layout.PageHeader>


@inherits BladderComponentBase
@inject IBladderTransactionService transactionService;
@inject IJSRuntime jsRuntime
@inject IUiNotificationService uiNotificationService
@inject NavigationManager navManager
@inject BladderDbContext context
@inject IAuthorizationService authorizationService;
@attribute [Authorize("Transaction_Index")]



<h1>@L["Bladder Transactions"]</h1>

<div class="card shadow-sm">
    <div class="card-header">
        <h2>@L["Filters"]</h2>
    </div>
    <div class="card-body">
        <RadzenRow>
            <RadzenColumn>
                <div class="form-group">
                    <div class="label">@L["Bladder Code"]</div>
                    @* <InputText @bind-Value="@BladderCodeFilter" class="form-control" /> *@
                    <RadzenTextBox @bind-Value="@BladderCodeFilter" Style="width: 100%;" />
                </div>
            </RadzenColumn>

            <RadzenColumn>
                <div class="form-group">
                    <div class="label">@L["Created At (From)"]</div>
                    @* <InputDate @bind-Value="@CreatedAtFromFilter" class="form-control" /> *@
                    <RadzenDatePicker @bind-Value=@CreatedAtFromFilter Style="width: 100%;" Culture="System.Globalization.CultureInfo.InvariantCulture" />
                </div>
            </RadzenColumn>

            <RadzenColumn>
                <div class="form-group">
                    <div class="label">@L["Created At (To)"]</div>
                    <RadzenDatePicker @bind-Value="@CreatedAtToFilter" Style="width: 100%;" Culture="System.Globalization.CultureInfo.InvariantCulture" />
                </div>
            </RadzenColumn>

            <RadzenColumn>
                <div class="form-group">
                    <div class="label">@L["Transaction Type"]</div>
                    <InputSelect @bind-Value="@TransactionTypeFilter" class="form-control">
                        <option value="">@L["All"]</option>
                        @foreach (TransactionTypes type in Enum.GetValues(typeof(TransactionTypes)))
                        {
                            <option value="@type.ToString()">@L[type.ToString()]</option>
                        }
                    </InputSelect>                    
                </div>
            </RadzenColumn>
        </RadzenRow>


        <RadzenRow>
            <div class="mx-1"><RadzenButton Click=ApplyFilters Text="@L["Filter"]" ButtonStyle="ButtonStyle.Primary" /></div>
            <div class="mx-1"><RadzenButton Click=ClearFilters Text="@L["Reset"]" ButtonStyle="ButtonStyle.Secondary" /></div>
        </RadzenRow>

    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header">
        <div class="d-flex flex-row justify-content-between">
            <div>
                <h2>@L["Bladder Transactions"]</h2>
            </div>
            <RadzenRow>
                <AuthorizeView Policy="Transaction_MountCreate">
                    <RadzenColumn><RadzenButton Click=@(args => OnClick("/Transactions/CreateMountTransaction")) Text="@L["Mount"]" ButtonStyle="ButtonStyle.Primary" /></RadzenColumn>
                </AuthorizeView>
                <AuthorizeView Policy="Transaction_DismountCreate">
                    <RadzenColumn><RadzenButton Click=@(args => OnClick("/Transactions/CreateDismountTransaction")) Text="@L["Dismount"]" ButtonStyle="ButtonStyle.Primary" /></RadzenColumn>
                </AuthorizeView>
                <AuthorizeView Policy="Transaction_MaintenanceCreate">
                    <RadzenColumn><RadzenButton Click=@(args => OnClick("/Transactions/CreateMaintenanceTransaction")) Text="@L["Maintenance"]" ButtonStyle="ButtonStyle.Primary" /></RadzenColumn>
                </AuthorizeView>
                <AuthorizeView Policy="Transaction_TestCreate">
                    <RadzenColumn><RadzenButton Click=@(args => OnClick("/Transactions/CreateTestTransaction")) Text="@L["Test"]" ButtonStyle="ButtonStyle.Primary" /></RadzenColumn>
                </AuthorizeView>
            </RadzenRow>
        </div>
    </div>
    <div class="card-body">
        <RadzenDataGrid @bind-Value=@selectedItems Data="@FilteredTransactions" TItem="BladderTransaction" RazenColumnWidth="200px"
                        AllowFiltering="true" FilterPopupRenderMode="PopupRenderMode.OnDemand" FilterMode="FilterMode.Advanced"
                        AllowPaging="true" PageSize="@pageSize" AllowSorting="true">
            <Columns>
                <RadzenDataGridColumn TItem="BladderTransaction" Title="@L["Bladder Code"]" Property="Bladder.BladderCode" />
                <RadzenDataGridColumn TItem="BladderTransaction" Title="@L["Created At"]" Filterable="false" Reorderable="false" Sortable="false">
                    <Template>
                        @context.CreatedAt.ToString("dd/MM/yyyy")
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BladderTransaction" Title="@L["Transaction Type"]">
                    <Template>

                        @L[context.TransactionType]

                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="BladderTransaction" Title="@L["Action"]" Filterable="false" Reorderable="false" Sortable="false">
                    <Template>
                        <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Info" Click="()=> RedirectToCreateTransaction(context)" class="">
                            <RadzenIcon Icon="visibility"></RadzenIcon>
                        </RadzenButton>
                        @if (context == Transactions
                        .GroupBy(t => t.BladderId)
                        .Where(l => l.Key == context.BladderId)
                        .SelectMany(group => group.OrderByDescending(t => t.CreatedAt).Take(1))
                        .FirstOrDefault())
                        {
                            <AuthorizeView Policy="Transaction_Delete" Context="authorizeContext">
                                <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Danger" Click="()=> ConfirmDelete(context)" class="">
                                    <RadzenIcon Icon="delete_forever"></RadzenIcon>
                                </RadzenButton>
                            </AuthorizeView>
                        }
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
        <RadzenPager ShowPagingSummary="true" PagingSummaryFormat="@pagingSummaryFormat" HorizontalAlign="HorizontalAlign.Right"
                     Count="count" PageSize="@pageSize" PageNumbersCount="5" PageChanged="@PageChanged" />
    </div>
</div>

@code {
    private List<BladderTransaction> Transactions { get; set; } = new() { new BladderTransaction() };
    private List<BladderTransaction> FilteredTransactions { get; set; } = new();
    private string? BladderCodeFilter { get; set; } = string.Empty;
    private DateTime? CreatedAtFromFilter { get; set; }
    private DateTime? CreatedAtToFilter { get; set; }
    private string? TransactionTypeFilter { get; set; } = string.Empty;
    string pagingSummaryFormat = "Displaying page {0} of {1} (total {2} transactions)";
    int pageSize = 10;
    int count;
    IList<BladderTransaction> selectedItems = new List<BladderTransaction>();

    [Inject]
    private IBladderTransactionService TransactionService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        pagingSummaryFormat = L["Displaying page {0} of {1} (total {2} transactions)"];
        Transactions = await TransactionService.GetAllAsync();
        Transactions = Transactions.OrderByDescending(t => t.CreatedAt).ToList();
        FilteredTransactions = Transactions;
        UpdateFilteredTransactions(0);
    }

    private async Task ConfirmDelete(BladderTransaction transaction)
    {
        var result = await jsRuntime.InvokeAsync<bool>("confirm", L["Are you sure you want to delete this transaction?"].ToString());
        if (result)
        {
            // User confirmed the deletion, proceed with deletion logic
            DeleteTransaction(transaction);
        }
    }
    private void OnClick(string url)
    {
        navManager.NavigateTo(url, true);
    }

    private void ApplyFilters()
    {
        var query = Transactions.AsQueryable();

        if (!string.IsNullOrEmpty(BladderCodeFilter))
        {
            query = query.Where(t => t.Bladder.BladderCode.Contains(BladderCodeFilter));
        }

        if (CreatedAtFromFilter != null)
        {
            query = query.Where(t => t.CreatedAt >= CreatedAtFromFilter);
        }

        if (CreatedAtToFilter != null)
        {
            query = query.Where(t => t.CreatedAt <= CreatedAtToFilter);
        }

        if (!string.IsNullOrEmpty(TransactionTypeFilter))
        {
            query = query.Where(t => t.TransactionType == TransactionTypeFilter);
        }

        FilteredTransactions = query.ToList();
    }

    private void ClearFilters()
    {
        BladderCodeFilter = null;
        CreatedAtFromFilter = null;
        CreatedAtToFilter = null;
        TransactionTypeFilter = null;
        FilteredTransactions = Transactions;
        UpdateFilteredTransactions(0);
    }

    void PageChanged(PagerEventArgs args)
    {
        UpdateFilteredTransactions(args.Skip);
    }

    void UpdateFilteredTransactions(int skip)
    {
        count = Transactions.Count();
        FilteredTransactions = GetTransactions(skip, pageSize);
        StateHasChanged();
    }

    List<BladderTransaction> GetTransactions(int skip, int take)
    {
        return Transactions.Skip(skip).Take(take).ToList();
    }

    public async void DeleteTransaction(BladderTransaction transaction)
    {

        

        if (transaction.TransactionType == TransactionTypes.Mount.ToString())
        {
            MountTransaction mountTransaction = await context.Set<MountTransaction>().FindAsync(transaction.Id);
            context.Entry(mountTransaction).State = EntityState.Detached;
            var bladder = await context.Bladders.FindAsync(mountTransaction.BladderId);
            context.Entry(bladder).State = EntityState.Detached;
            var machine = await context.Machines.FindAsync(mountTransaction.MachineId);
            context.Entry(machine).State = EntityState.Detached;


            bladder.Status = BladderStatus.Ready.ToString();
            context.Bladders.Update(bladder);

            if (machine.LeftBladderId == bladder.Id)
            {
                machine.LeftBladderId = null;
            }
            else if (machine.RightBladderId == bladder.Id)
            {
                machine.RightBladderId = null;
            }

            if (machine.Full)
            {
                machine.Full = false;
            }
            context.Machines.Update(machine);

            await transactionService.DeleteAsync(transaction.Id);
        }
        else if (transaction.TransactionType == TransactionTypes.Dismount.ToString())
        {
            DismountTransaction dismountTransaction = await context.Set<DismountTransaction>().FindAsync(transaction.Id);
            context.Entry(dismountTransaction).State = EntityState.Detached;

            var bladder = await context.Bladders.FindAsync(dismountTransaction.BladderId);
            context.Entry(bladder).State = EntityState.Detached;
            var lastMountTransaction = await transactionService.GetLastMountTransactionAsync(dismountTransaction.BladderId);
            if (lastMountTransaction is not null)
            {
                context.Entry(lastMountTransaction).State = EntityState.Detached;
                var machine = await context.Machines.FindAsync(lastMountTransaction.MachineId);
                context.Entry(machine).State = EntityState.Detached;
                if (machine.Full)
                {
                    uiNotificationService.Error(L["this transaction cannot be deleted because the machine is full"]);
                    return;
                }
                if (machine.LeftBladderId == null)
                {
                    machine.LeftBladderId = bladder.Id;
                }
                else if (machine.RightBladderId == null)
                {
                    machine.RightBladderId = bladder.Id;
                }

                if (machine.LeftBladderId != null && machine.RightBladderId != null)
                {
                    machine.Full = true;
                }

                context.Machines.Update(machine);

            }

            bladder.Status = BladderStatus.Mounted.ToString();
            context.Bladders.Update(bladder);


            await transactionService.DeleteAsync(transaction.Id);


        }
        else if (transaction.TransactionType == TransactionTypes.Maintenance.ToString())
        {
            var bladder = await context.Bladders.FindAsync(transaction.BladderId);
            context.Entry(bladder).State = EntityState.Detached;
            bladder.Status = BladderStatus.Maintenance.ToString();
            context.Bladders.Update(bladder);
            await transactionService.DeleteAsync(transaction.Id);

        }
        else if (transaction.TransactionType == TransactionTypes.Test.ToString())
        {
            var bladder = await context.Bladders.FindAsync(transaction.BladderId);
            context.Entry(bladder).State = EntityState.Detached;

            bladder.Status = BladderStatus.Testing.ToString();
            context.Bladders.Update(bladder);
            await transactionService.DeleteAsync(transaction.Id);

        }

        await context.SaveChangesAsync();
        Transactions = await TransactionService.GetAllAsync();
        Transactions = Transactions.OrderByDescending(t => t.CreatedAt).ToList();
        ClearFilters();
        StateHasChanged();
    }
    private void RedirectToCreateTransaction(BladderTransaction transaction)
    {
        if (transaction.TransactionType == TransactionTypes.Mount.ToString())
        {
            // Redirect to MountTransaction creation page with message
            navManager.NavigateTo($"/Transactions/CreateMountTransaction/{transaction.Id}?message=Show", true);
        }
        else if (transaction.TransactionType == TransactionTypes.Dismount.ToString())
        {
            // Redirect to DismountTransaction creation page with message
            navManager.NavigateTo($"/Transactions/CreateDismountTransaction/{transaction.Id}?message=Show", true);
        }
        else if (transaction.TransactionType == TransactionTypes.Maintenance.ToString())
        {
            // Redirect to MaintenanceTransaction creation page with message
            navManager.NavigateTo($"/Transactions/CreateMaintenanceTransaction/{transaction.Id}?message=Show", true);
        }
        else if (transaction.TransactionType == TransactionTypes.Test.ToString())
        {
            // Redirect to TestTransaction creation page with message
            navManager.NavigateTo($"/Transactions/CreateTestTransaction/{transaction.Id}?message=Show", true);
        }
    }
}

